<!DOCTYPE html>

<html>

    <head>
        <link rel="icon" href="img/game-logo.jpg">
        <link rel="stylesheet" href="styles.css">
    </head>

    <body>
        {{>header}}
    </body>

</html>