<div>
    
    {{#each games}}
        <a href={{extension_name}}>
            {{!-- 
            {{#log extension_name}}
            {{/log}}
            --}}
            <li class="game-links">{{gameTitle}}</li>
        </a>
    {{/each}}
    
</div>