<div class="main-header">
    <h1>Lazy Games</h1>
    <p1>by Brian Salkas</p1>
</div>
<div class="links">
    <a href="/">home</a>
    <a href="/single-player-games">I have no friends</a>
    <a href="/multi-player-games">I have friends</a>
</div>
<h1 class="page-title">{{title}}</h1>